.navbar {
    width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: linear-gradient(90deg, rgba(255,0,150,1) 0%, rgba(0,204,255,1) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }

  .notificationButton{
    background: linear-gradient(90deg, rgba(255,0,150,1) 0%,rgb(184, 113, 154) 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px 5px;
    border:0.5px solid linear-gradient(90deg, rgb(110, 37, 80) , rgba(255,0,150,1) 0%, rgb(184, 113, 154) 100%);
    color:white;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  }
  
  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  .menuItem {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  
  .menuItem:hover {
    color: #000;
    transform: scale(1.1);
  }
  .profilePicture{
    border-radius: 100%;
    width: 50px;
    height: 50px;

  }