.chatWindow {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chatHeader {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  background-color: #f5f5f5;
  position: sticky; /* Başlığı sabit tut */
  top: 0; /* Üstte sabitle */
  z-index: 10; /* Üstte görünmesini sağla */
}

.chatHeader h2 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.profileRoomPicture {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.messagesContainer {
  flex: 1;
  overflow-y: auto; /* Scroll ekle */
  padding: 10px; /* Mesajlar için iç boşluk */
  max-height: 550px;
  min-height: 550px;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Mesajlar arasına boşluk */
  background: #f9f9f9; /* Mesaj alanı arka plan rengi */
}

.message {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 1.5;
  word-wrap: break-word; /* Uzun kelimeleri taşır */
  max-width: 80%; /* Mesaj baloncuklarının maksimum genişliği */
}

.messageSender {
  align-self: flex-end;
  background: #fce4cb;
  color: #333;
}

.messageReceiver {
  align-self: flex-start;
  background: #fff;
  border: 1px solid #f0f0f0;
  color: #333;
}

.messageProfile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.inputContainer {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #fff;
  border-top: 1px solid #ddd;
}

.inputField {
  flex: 1;
  padding: 10px 15px;
  border-radius: 12px;
  border: 1px solid #ddd;
  font-size: 16px;
}

.sendButton {
  margin-left: 10px;
  padding: 10px 20px;
  background: #fce4cb;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
  color: #333;
  transition: background 0.2s ease;
}

.sendButton:hover {
  background: #fbd2a8;
}

.talkerImage {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.talkerName {
  font-size: 18px;
  font-weight: bold;
}