/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/app/forum/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.page_container__FyR_C{
    display: flex;
    height: 100vh;
    width: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgba(0, 51, 153, 0.42), #ffffff);
}
.page_secondPart__HAdrE{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('https://wallpapercave.com/wp/wp5600434.jpg');
    background-repeat:no-repeat;
    background-size: cover;
}
.page_firstPart__3d2gF{
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-image: url('https://wallpapercave.com/wp/wp5600434.jpg');
    background-repeat:no-repeat;
    background-size: cover;
    padding: 40px 40px;
}
